<footer class="footer">
  <small>
    <%= link_to t("tutorial"), Settings.links.rails.tutorial %>
    <%= link_to t("michael_hartl"), Settings.links.others.michaelhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("news"), Settings.links.rails.news %></li>
    </ul>
  </nav>
</footer>
